body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 30px;
    text-align: center;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 10%;
}

table {
    display: flex;
    justify-content: center;
}

#btnRojo {
    background-color: red;
}

#btnR {
    color: orange;
}

#btnVerde {
    background-color: green;
    width: 220px;
    height: 40px;
    margin: 5px;
}

#cajonAzul {
    width: 220px;
    background-color: aqua;
}
