body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f0f0f0;
    background-color: beige;
    
}

header {
    margin-bottom: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 2px solid #555;
    width: 100px;
    height: 100px;
}

td img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#mensaje {
    font-weight: bold;
    color: green;
}

button {
    background-color: #422306;
    color: white;
}


#resueltoid {
    color: #2AF719;
}