body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 30px;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;

}

td {
    
    border: 2px solid black;
    width: 60px;
    height: 60px;
}


#cajonAzul {
    color: red;
    background-color: aqua;
}

#R{
    color: orange;
}

#rojo {
    background-color: red;
}
#btnVerde {
    margin: 5px;
    color: whitesmoke;
    width: 180px;
    height: 30px;
    background-color: green;
}


.exito {
  color: red;
}
