* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
}

.navbar ul {
    list-style: none;
    display: flex;          /* pone los elementos en fila */
}

.navbar li {
    padding: 15px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.navbar li:hover {
    background-color: #555;
}



.carousel {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
}
